# Data Locality

## Load Reference Data

In [1]:
import pandas as pd

### Load State & Region Data

In [2]:
df = pd.read_csv('data/imputed/state-predictions.csv', encoding='utf-8')
df = df.filter(items=['state', 'region', 'latitude', 'longitude']).drop_duplicates()
df

              state         region  latitude  longitude
0       Connecticut      Northeast   41.6219   -72.7273
1          Delaware      Northeast   38.9896   -75.5050
2             Maine      Northeast   45.3695   -69.2428
3          Maryland      Northeast   39.0550   -76.7909
4     Massachusetts      Northeast   42.2596   -71.8083
5     New Hampshire      Northeast   43.6805   -71.5811
6        New Jersey      Northeast   40.1907   -74.6728
7          New York      Northeast   42.9538   -75.5268
8      Pennsylvania      Northeast   40.8781   -77.7996
9      Rhode Island      Northeast   41.6762   -71.5562
10          Vermont      Northeast   44.0687   -72.6658
1386       Illinois    Ohio Valley   40.0417   -89.1965
1387        Indiana    Ohio Valley   39.8942   -86.2816
1388       Kentucky    Ohio Valley   37.5347   -85.3021
1389       Missouri    Ohio Valley   38.3566   -92.4580
1390           Ohio    Ohio Valley   40.2862   -82.7937
1391      Tennessee    Ohio Valley   35.8580   -86.3505
1392  West Virginia    Ohio Valley   38.6409   -80.6227
2268           Iowa  Upper Midwest   42.0751   -93.4960
2269       Michigan  Upper Midwest   44.3467   -85.4102
2270      Minnesota  Upper Midwest   46.2807   -94.3053
2271      Wisconsin  Upper Midwest   44.6243   -89.9941

### Connect to Redis

In [3]:
import redis
conn = redis.Redis()

### Load State Data

In [4]:
for index, row in df.iterrows():
    state = row['state']
    region = row['region']
    latitude = row['latitude']
    longitude = row['longitude']
    conn.geoadd('woodchuckin:states:coords', longitude, latitude, state)
    conn.set(f'woodchuckin:states:{state}:region', region)
    conn.sadd(f'woodchuckin:regions:{region}:state', state)

### Load Regional Forecasts

In [5]:
df_region = pd.read_csv('data/forecast/forecasted-monthly-temperatures-by-region.csv', encoding='utf-8')
df_region

          region    date  temperature
0      Northeast  202102         28.8
1      Northeast  202103         38.3
2  Upper Midwest  202102         19.7
3  Upper Midwest  202103         34.5
4    Ohio Valley  202102         35.9
5    Ohio Valley  202103         48.0

In [6]:
for index, row in df_region.iterrows():
    region = row['region']
    date = row['date']
    temp = row['temperature']
    conn.set(f'woodchuckin:forecast:{date}:region:{region}', temp)

### Load State Forecasts

In [7]:
df_state = pd.read_csv('data/forecast/forecasted-monthly-temperatures-by-state.csv', encoding='utf-8')
df_state

            state    date  temperature
0     Connecticut  202102         34.0
1     Connecticut  202103         41.6
2        Delaware  202102         41.9
3        Delaware  202103         49.5
4        Illinois  202102         31.9
5        Illinois  202103         44.4
6         Indiana  202102         32.8
7         Indiana  202103         44.6
8            Iowa  202102         24.8
9            Iowa  202103         40.3
10       Kentucky  202102         39.7
11       Kentucky  202103         51.3
12          Maine  202102         20.0
13          Maine  202103         29.6
14       Maryland  202102         40.8
15       Maryland  202103         49.2
16  Massachusetts  202102         32.4
17  Massachusetts  202103         40.2
18       Michigan  202102         23.6
19       Michigan  202103         35.0
20      Minnesota  202102         14.0
21      Minnesota  202103         30.4
22       Missouri  202102         35.4
23       Missouri  202103         48.8
24  New Hampshire  202102         24.1
25  New Hampshire  202103         34.2
26     New Jersey  202102         39.0
27     New Jersey  202103         46.3
28       New York  202102         26.6
29       New York  202103         37.2
30           Ohio  202102         32.8
31           Ohio  202103         44.7
32   Pennsylvania  202102         33.2
33   Pennsylvania  202103         42.5
34   Rhode Island  202102         35.4
35   Rhode Island  202103         42.6
36      Tennessee  202102         43.4
37      Tennessee  202103         54.8
38        Vermont  202102         22.4
39        Vermont  202103         33.1
40  West Virginia  202102         38.0
41  West Virginia  202103         47.8
42      Wisconsin  202102         19.2
43      Wisconsin  202103         34.3

In [8]:
for index, row in df_state.iterrows():
    state = row['state']
    date = row['date']
    temp = row['temperature']
    conn.set(f'woodchuckin:forecast:{date}:state:{state}', temp)

## Setup Scripting

### Register the Trigger

Delete existing triggers.

In [138]:
registrations = conn.execute_command('RG.DUMPREGISTRATIONS')
for reg in registrations:
  id = reg[1]
  conn.execute_command('RG.UNREGISTER', id)

Add our trigger.

In [139]:
conn.execute_command('RG.PYEXECUTE', """

def to_dictionary(data):
  return { 'latitude': data[1], 'longitude': data[2] }
  
def blend_reference_data(data):
  latitude, longitude = data['latitude'], data['longitude']
  
  state = execute('GEORADIUS', 'woodchuckin:states:coords', longitude, latitude, 10000, 'mi', 'ASC')[0]
  region = execute('GET', f'woodchuckin:states:{state}:region')

  data['feb_state_temp'] = execute('GET', f'woodchuckin:forecast:202102:state:{state}')
  data['mar_state_temp'] = execute('GET', f'woodchuckin:forecast:202103:state:{state}')
  data['feb_region_temp'] = execute('GET', f'woodchuckin:forecast:202102:region:{region}')
  data['mar_region_temp'] = execute('GET', f'woodchuckin:forecast:202103:region:{region}')
  
  return data
  
def predict(data):
  execute('AI.TENSORSET', 'woodchuckin:in', 'FLOAT', 1, 6, 'VALUES',
    data['latitude'], data['longitude'],
    data['feb_state_temp'], data['mar_state_temp'],
    data['feb_region_temp'], data['mar_region_temp'])
    
  execute('AI.MODELRUN', 'woodchuckin', 'INPUTS', 'woodchuckin:in',
          'OUTPUTS', 'woodchuckin:out', 'woodchuckin:scores')

  return execute('AI.TENSORGET', 'woodchuckin:out', 'VALUES')[0]
  
def decode(data):
  return 'Full Shadow' if (data == 1) else 'No Shadow'

gb = GearsBuilder('CommandReader')
gb.map(to_dictionary)
gb.map(blend_reference_data)
gb.map(predict)
gb.map(decode)
gb.register(trigger='woodchuckin')

""")

b'OK'

### Invoke Function

In [140]:
latitude, longitude = 44.6243, -89.9941
conn.execute_command('RG.TRIGGER', 'woodchuckin', latitude, longitude)

[b'Full Shadow']