# Data Locality

## Load Reference Data

In [25]:
import pandas as pd

### Load State & Region Data

In [26]:
df = pd.read_csv('data/constructed-output-data.csv', encoding='utf-8')
df = df.filter(items=['state', 'region', 'latitude', 'longitude']).drop_duplicates()
df

              state         region  latitude  longitude
0       Connecticut      Northeast   41.6219   -72.7273
1          Delaware      Northeast   38.9896   -75.5050
2             Maine      Northeast   45.3695   -69.2428
3          Maryland      Northeast   39.0550   -76.7909
4     Massachusetts      Northeast   42.2596   -71.8083
5     New Hampshire      Northeast   43.6805   -71.5811
6        New Jersey      Northeast   40.1907   -74.6728
7          New York      Northeast   42.9538   -75.5268
8      Pennsylvania      Northeast   40.8781   -77.7996
9      Rhode Island      Northeast   41.6762   -71.5562
10          Vermont      Northeast   44.0687   -72.6658
1386       Illinois    Ohio Valley   40.0417   -89.1965
1387        Indiana    Ohio Valley   39.8942   -86.2816
1388       Kentucky    Ohio Valley   37.5347   -85.3021
1389       Missouri    Ohio Valley   38.3566   -92.4580
1390           Ohio    Ohio Valley   40.2862   -82.7937
1391      Tennessee    Ohio Valley   35.8580   -86.3505
1392  West Virginia    Ohio Valley   38.6409   -80.6227
2268           Iowa  Upper Midwest   42.0751   -93.4960
2269       Michigan  Upper Midwest   44.3467   -85.4102
2270      Minnesota  Upper Midwest   46.2807   -94.3053
2271      Wisconsin  Upper Midwest   44.6243   -89.9941

### Connect to Redis

In [27]:
import redis
conn = redis.Redis()

### Load State Data

In [31]:
for index, row in df.iterrows():
    state = row['state']
    region = row['region']
    latitude = row['latitude']
    longitude = row['longitude']
    conn.geoadd('woodchuckin:states:coords', longitude, latitude, state)
    conn.set(f'woodchuckin:states:{state}:region', region)
    conn.sadd(f'woodchuckin:regions:{region}:state', state)